.vs/
.vscode/
*.sln
*.pyproj
__pycache__/
.editorconfig

*.xlsx
*.csv


*.yaml
*.json

!config/app.yaml
!config/usecols.json
!config/keywords.json
!config/exclude_singers.yaml
!config/icons.yaml
!config/special.yaml


*.txt
*.md
*.log

!config/prompt_template.txt
!requirements.txt


*.jpg
*.png
*.mp4
*.mp3
*.wav
*.html

*.zip

*测试*
